{{ if .is_work -}}
brew "helm"
brew "kubernetes-cli"
brew "k9s"
brew "falcoctl"
brew "mdq"
brew "minikube"
brew "pandoc"
brew "qemu"
brew "teleport"
brew "uv"
brew "virtctl"
brew "openshift-cli"
cask "claude-code"
cask "kdiff3"
cask "windows-app"
cask "postman"
cask "shotcut"
cask "ungoogled-chromium"
go "github.com/sysdiglabs/sysdig-mcp-server/cmd/server"
npm "@anthropic-ai/claude-code"
npm "@google/gemini-cli"
npm "@googleworkspace/cli"
{{- end }}
