[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh/zsh-completions"]
	path = zsh/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zsh/zsh-history-substring-search"]
	path = zsh/.zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "zsh/.zsh/zsh-private-config"]
	path = zsh/.zsh/zsh-private-config
	url = git@github.com:eckelon/zsh-private-config.git
[submodule "nvm/.nvm"]
	path = nvm/.nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "raycast/.config/raycast"]
	path = raycast/.config/raycast
	url = git@github.com:eckelon/raycast-config.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/.vim/pack/git-plugins/start/fzf"]
	path = vim/.vim/pack/git-plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/git-plugins/start/fzf.vim"]
	path = vim/.vim/pack/git-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/git-plugins/opt/ale"]
	path = vim/.vim/pack/git-plugins/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/git-plugins/opt/vim-mucomplete"]
	path = vim/.vim/pack/git-plugins/opt/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "vim/.vim/pack/git-plugins/opt/vim-commentary"]
	path = vim/.vim/pack/git-plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/pack/git-plugins/opt/vim-poliglot"]
	path = vim/.vim/pack/git-plugins/opt/vim-poliglot
	url = https://github.com/sheerun/vim-polyglot.git
