[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh/zsh-completions"]
	path = zsh/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zsh/zsh-history-substring-search"]
	path = zsh/.zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/zsh-private-config"]
	path = zsh/.zsh/zsh-private-config
	url = git@github.com:eckelon/zsh-private-config.git
[submodule "claude-skills/.claude/skills"]
	path = claude-skills/.claude/skills
	url = git@github.com:eckelon/claude-skills.git
[submodule "emacs/.emacs.d/emacs-solo"]
	path = emacs/.emacs.d/emacs-solo
	url = https://github.com/LionyxML/emacs-solo.git
[submodule "nvim/.config/nvim/pack/plugins/start/tokyonight.nvim"]
	path = nvim/.config/nvim/pack/plugins/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "nvim/.config/nvim/pack/plugins/start/which-key.nvim"]
	path = nvim/.config/nvim/pack/plugins/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "nvim/.config/nvim/pack/plugins/start/fzf-lua"]
	path = nvim/.config/nvim/pack/plugins/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule "nvim/.config/nvim/pack/plugins/start/lualine.nvim"]
	path = nvim/.config/nvim/pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
