.DS_Store
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm
tmux/.tmux/plugins/tpm/lib/tmux-test
*.log
zed/.config/zed/.tmp*
zed/.config/zed/embeddings/
vscodium/Library/Application Support/VSCodium/*
!vscodium/Library/Application Support/VSCodium/User/settings.json
!vscodium/Library/Application Support/VSCodium/User/keybindings.json
zed/.config/zed/**/*.mdb
