{{ if .is_homelab }}{{ .chezmoi.homeDir }}/.bun/install/global/node_modules/@earendil-works/pi-coding-agent/examples/extensions/plan-mode/utils.ts{{ else }}/opt/homebrew/lib/node_modules/@earendil-works/pi-coding-agent/examples/extensions/plan-mode/utils.ts{{ end }}