{
  "settings": {
    "mcpFooterStatus": "compact",
    "showStatusIcon": false
  },
  "mcpServers": {
    "context-mode": {
      "command": "node",
      "args": [
        "{{ .chezmoi.homeDir }}/.pi/agent/npm/node_modules/context-mode/cli.bundle.mjs"
      ]
    }
  }
}