[Desktop Entry]
Type=Application
Name=WiFi
Comment=Wireless monitor TUI (wavemon)
Exec=ghostty --title=dotfloat -e wavemon
Icon=network-wireless
Categories=Network;Settings;
Keywords=wifi;network;red;wifi;
