{{ if .is_homelab }}{{ .chezmoi.homeDir }}/.bun/install/global/node_modules/@earendil-works/pi-coding-agent/examples/extensions/subagent/index.ts{{ else }}/opt/homebrew/opt/pi-coding-agent/libexec/lib/node_modules/@earendil-works/pi-coding-agent/examples/extensions/subagent/index.ts{{ end }}